.navbar{
background-color: black;
}

a {
    color:white;
    text-decoration: none;
    background-color: transparent;
}

span{
    color: blue;
    background-color: transparent;
}

.navbar-nav > .active > a {
    color: blue ;
}

body{
    background-color: #3CAEA3;

}




/*--------------------------------------------------------------
# My Services
--------------------------------------------------------------*/
.services .icon-box {
    padding: 30px;
    
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
    border: 1px solid #fff;
  }
  
  
  
  
  
  .services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .services .title a {
    color: #111;
    transition: 0.3s;
  }
  
  .services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }
  
  .services .icon-box:hover {
    border-color: #ffb727;
  }
  
  .services .icon-box:hover .title a {
    color: #ffb727;
  }

  

  .services .col-md-3{
    /* margin: 10px 10px 10px 10px; */
    width: 400px;
    height: 200px;
  }



.services #mar{
    padding-bottom: 10px;
    margin-bottom: 10px;
  }



  /* signin page  */

  .btn-black{
    background-color: #000 !important;
    color: #fff;
  }


  .btn-black{
    background-color: #000 !important;
    color: #fff;
  }body {
    font-family: "Lato", sans-serif;
  }

