{% extends 'base.html' %}
{%block popularact%}active{%endblock popularact%}
{% block base %}


  <!-- ======= My Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">

          <h1><center>Categories</center></h1>
          <h3>All kind of Books Available...</h3>
        </div>

        <div class="row">
          <div class="col-md-3 col-xs-6 thumbnail">
            <div class="icon-box">
              <h4 class="title"><a href="">ART AND MUSIC.</a></h4>
              <p class="description">desc.</p>
            </div>
          </div>

          <div class="col-md-3 col-xs-6 thumbnail">
            <div class="icon-box">

              <h4 class="title"><a href="">BIOGRAPHY</a></h4>
              <p class="description">desc.</p>
            </div>
          </div>


          <div class="col-md-3 col-xs-6 thumbnail">
            <div class="icon-box">

              <h4 class="title"><a href="">BUSINESS</a></h4>
              <p class="description">desc.</p>
            </div>
          </div>

          <div class="col-md-3 col-xs-6 thumbnail">
            <div class="icon-box">

              <h4 class="title"><a href="">COMICS</a></h4>
              <p class="description">desc.</p>
            </div>
          </div>


          <div class="col-md-3 col-xs-6 thumbnail">
            <div class="icon-box">

              <h4 class="title"><a href="">TECH AND EDUCATION.</a></h4>
              <p class="description">desc.</p>
            </div>
          </div>

          <div class="col-md-3 col-xs-6 thumbnail">
            <div class="icon-box">

              <h4 class="title"><a href="">ENTERTAINMENT</a></h4>
              <p class="description">desc.</p>
            </div>
          </div>

         <div class="col-md-3 col-xs-6 thumbnail">
            <div class="icon-box">

              <h4 class="title"><a href="">TECH AND EDUCATION.</a></h4>
              <p class="description">desc.</p>
            </div>
          </div>

          <div class="col-md-3 col-xs-6 thumbnail">
            <div class="icon-box">

              <h4 class="title"><a href="">ENTERTAINMENT</a></h4>
              <p class="description">desc.</p>
            </div>
          </div>



           <div class="col-md-3 col-xs-6 thumbnail">
            <div class="icon-box">

              <h4 class="title"><a href="">TECH AND EDUCATION.</a></h4>
              <p class="description">desc.</p>
            </div>
          </div>

          <div class="col-md-3 col-xs-6 thumbnail">
            <div class="icon-box">

              <h4 class="title"><a href="">ENTERTAINMENT</a></h4>
              <p class="description">desc.</p>
            </div>
          </div>

         <div class="col-md-3 col-xs-6 thumbnail">
            <div class="icon-box">

              <h4 class="title"><a href="">TECH AND EDUCATION.</a></h4>
              <p class="description">desc.</p>
            </div>
          </div>

          <div class="col-md-3 col-xs-6 thumbnail">
            <div class="icon-box">

              <h4 class="title"><a href="">ENTERTAINMENT</a></h4>
              <p class="description">desc</p>
            </div>
          </div>

        </div>

      </div>
    </section>


<!-- skills -->

<center><h1>Top 5 Rated Books...</h1></center>


<div class="container">


  <span class="skill">ENTERTAINMENT <i class="val">75%</i></span>
  <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
  </div>

  <span class="skill">TECH AND EDUCATION <i class="val">80%</i></span>
  <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
  </div>

  <span class="skill">COMICS <i class="val">75%</i></span>
  <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
  </div>

  <span class="skill">ART AND MUSIC <i class="val">75%</i></span>
  <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
  </div>

  <span class="skill">BIOGRAPHY <i class="val">75%</i></span>
  <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
  </div>



</div>

<p></p>
<br>

{%endblock base%}
